body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #45a049;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.task {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
}

.task h3 {
  color: #333;
}

.task p {
  margin: 0;
  color: #777;
}

.task button {
  background-color: #f44336;
}

.task button:hover {
  background-color: #d32f2f;
}

.task button,
.taskEditForm button {
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.taskEditForm button {
  background-color: #2196f3;
}

.taskEditForm button:hover {
  background-color: #0d47a1;
}
